* {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
    font-family: 'Lato', sans-serif;
}

.main__block {
    display: flex;
    flex-direction: column;
    border-left: solid 2px rgba(230, 230, 230, 1);
    border-right: solid 2px rgba(230, 230, 230, 1);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: rgba(77, 80, 83, 1);
}

.center {
    margin-left: calc(50% - 570px);
    margin-right: calc(50% - 570px);
}

header {
    color: rgba(41, 47, 54, 1);
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin: 53px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__left {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.header__right {
    display: flex;
    align-items: baseline;
    gap: 40px;
}

.header__right a {
    text-decoration: none;
}

.starter {
    position: relative;
}

.starter__img {
    border-radius: 50px;
}

.starter__content {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 434px;
}

.starter__content__header {
    font-family: DM Serif Display;
    font-size: 65px;
    font-weight: 400;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: left;
}

.starter__content__text {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
}

.starter__content__button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(41, 47, 54, 1);
    padding: 26px 48px;
    border-radius: 8px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    transition: color 1s, background-color 1s;
}

.starter__content__button:hover {
    cursor: pointer;
    color: rgba(41, 47, 54, 1);
    background-color: rgba(255, 255, 255, 1);
    transition: color 1s, background-color 1s;
}

.projects__header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 26px 0;
}

.projects__header__header {
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-align: center;
}

.projects__text {
    width: 694px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
}

.projects__view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project__item__img {
    height: fit-content;
    width: 500px;
}

.img__corner__right__up {
    border-radius: 0 60px 0 0;
}

.img__corner__right__down {
    border-radius: 0 0 60px 0;
}

.img__corner__left__down {
    border-radius: 0 0 0 60px;
}

.img__corner__left__up {
    border-radius: 60px 0 0 0;
}

.project__item {
    margin: 20px 0;
}

.project__item__content {
    display: flex;
    justify-content: space-between;
}

.project__item__text {
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
}

.breadcrumb {
    display: flex;
}

.breadcrumb__box-link:last-child .breadcrumb__link {
    font-weight: 700;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #636363;
}

.breadcrumb__box-link:not(:last-child)::after {
    content: '/';
    padding-left: 8px;
    padding-right: 8px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #636363;
}

.breadcrumb__link {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #636363;
}

.breadcrumb__link:hover {
    color: rgb(241, 109, 127);
}

.project__item__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(244, 240, 236, 1);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.project__item__btn {
    cursor: pointer;
}

.results {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 457px;
    background: rgba(244, 240, 236, 1);
    margin-bottom: 70px;
}

.results__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(205, 162, 116, 1);
    font-family: DM Serif Display;
    font-size: 85px;
    font-weight: 400;
    line-height: 106px;
    letter-spacing: 0.02em;
    text-align: left;
}

.results__item__text {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(77, 80, 83, 1);
}

.news__view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news__item__img {
    height: fit-content;
    border-radius: 50px 50px 0 0;
}

.news__item {
    position: relative;
    width: 300px;
    margin: 20px 0;
    border: solid 1px;
    padding: 16px;
    border-radius: 50px 50px 50px 50px;
}

.news__item:hover {
    background-color: rgba(231, 231, 231, 1);
}

.news__item__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__item__text {
    width: 85%;
    color: rgba(41, 47, 54, 1);
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
}

.news__item__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(244, 240, 236, 1);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.news__item__btn {
    cursor: pointer;
}

.news__section {
    position: absolute;
    top: 200px;
    left: 40px;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 8px 8px 8px 0;
    border: solid 1px;
    color: rgba(77, 80, 83, 1);
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
}

.news__section:active {
    background-color: rgb(145, 183, 216);
}

.footer {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.footer__logo {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    justify-content: left;
    gap: 10px;
}

.footer__logo__block {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.footer__logo__text {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
}

.footer__logo__twitter {
    display: flex;
    justify-content: left;
    gap: 40px;
}

.footer__pages {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__pages__menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0.01em;
    color: rgba(77, 80, 83, 1);
}

.footer__contact {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    gap: 16px;
}